# Required
MEROSHARE_CLIENT_ID=
MEROSHARE_USERNAME=
MEROSHARE_PASSWORD=
MEROSHARE_DP_NAME=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Required for UI apply
MEROSHARE_BANK_NAME=
MEROSHARE_ACCOUNT_NO=
MEROSHARE_CRN=
MEROSHARE_TXN_PIN=

# Optional
HEADLESS=false
RUN_TIMEOUT_MIN=12
SLOWMO=250

